<!-- edit.ejs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit Wishlist</title>
    <!-- Add any required stylesheets or scripts -->
</head>
<body>
    <h1>Edit Wishlist</h1>
    <p>Wishlist Name: <%= wishlistItem.wishlistName %></p>

    <form action="/edit/<%= wishlistItem._id %>/update" method="post">
        <% wishlistItem.itemName.forEach((itemName, index) => { %>
            <div>
                <label for="item<%= index %>">Item bought:</label>
                <input type="checkbox" id="item<%= index %>" name="itemBought[<%= index %>]" value="true" <%= wishlistItem.itemBought[index] ? 'checked' : '' %>>
                <label for="item<%= index %>"><%= itemName %></label>
            </div>
        <% }) %>
        <button type="submit">Update</button>
    </form>
</body>
</html>
